@tailwind base;
@tailwind components;
@tailwind utilities;

#head-title {
    color: orange;
    font-size: 50px;
    font-weight: bold;
}

#item_name {
    border-radius: 10px;
    border-color: lightgrey;
}

#item_describe {
    border-radius: 10px;
    border-color: lightgrey;
}

#item_amount {
    border-radius: 10px;
    border-color: lightgrey;
    width: 200px;
}

#create-button {
    border-radius: 10px;
}

#image_show {
    height: 100%;
    width: 100%;
}

#main {
    background-color: white ;
    height: 2000;
    max-height: 150%;
    overflow: auto;
}